//Color heading//
$h1-color:#404041;
$h2-color:#b66662;
$h3-color:rgb(255, 255, 255);

// hover button  //
$button-hover:#d2c8cd;
$nav-hover:#ba716d; 

// Background-color  section //
$bkgd-section:rgba(234,223,229,0.4)  ;

//shadow //
$shadow:rgba(223, 188, 125,0.6) 0px 5px 10px -3px,  rgba(223, 188, 125,0.6) 0px 4px 6px -2px;